body {
    background-color: #e7caff;
}

.inner-bg {
    background-color: #d2a9f0;
}


h5 {
    font-family: fredoka;
    font-size: 15px;
    color: #3d2051;
}

h4 {
    color: #e7caff;
}

.pixel-color {
    color: #6D3B8F;
}

.penguin-img {

    width: 65%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.penguin-img:active {
    transform: translateY(-5px);
}

.background {
    background-color: #6D3B8F;
}

.background-light {
    background-color: #B88EDA;
}

.footer-bg {
    background-color: #3d2051;
}

.padding-start {
    padding-left: 125px;
    color: #3d2051;
}

.padding-start-stats {
    padding-left: 150px;
    color: #3d2051;
}